* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.App {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}
input {
    border: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    border-radius: 0;
    outline: medium;
    background-color: transparent;
}